## -*- mode: sh -*-

# [ man keychain ]
#--------------------------------------------
## XXX 机器重启 ~/.keychain/${HOSTNAME}-sh 文件还在
[ -z "$HOSTNAME" ] && HOSTNAME=`uname -n`
[ -f "${HOME}/.keychain/${HOSTNAME}-sh" ] && source "${HOME}/.keychain/${HOSTNAME}-sh"
[ -f "${HOME}/.keychain/${HOSTNAME}-sh-gpg" ] && source "${HOME}/.keychain/${HOSTNAME}-sh-gpg"

# type -a time
# whereis time | tr ' ' '\n' | grep bin
# which time

# [ function ]
#--------------------------------------------
## https://wiki.gentoo.org/wiki/Bash
## command -pv cmd ==> type -a cmd
## command cmd -> /usr/bin/ssh or `\cmd` or `"cmd"`

function kk { keychain --nogui ~/.ssh/id_rsa; }
function ks { source ~/.keychain/"${HOSTNAME}-sh"; }
function mkcd { command mkdir -p "$@" && cd "$@"; }

function rssh {
command ssh -l root -o ConnectTimeout=2 \
-o ServerAliveInterval=120 \
-o StrictHostKeyChecking=no \
-o UserKnownHostsFile=/dev/null "$@"
}

function nssh {
#/usr/bin/ssh -C4 \
command ssh -o ConnectTimeout=2 \
-o ServerAliveInterval=120 \
-o StrictHostKeyChecking=no \
-o UserKnownHostsFile=/dev/null "$@"
}

function ixio {
    ## cat - | curl -sF 'f:1=<-' ix.io
    ## <cmd> |& curl -F 'f:1=<-' ix.io
    ## lspci -nn |& curl -F 'f:1=<-' ix.io
    curl -sF 'f:1=<-' http://ix.io/
}

function gitweek {
    local day=$1
    if [ -z "$day" ]
    then
        day=7
    fi
    for i in `git log -n $day|awk '/commit/{print $2}'`
    do
        git show --pretty="format:" --name-only $i
    done
}

# [ reference ]
#--------------------------------------------

alias  ~='cd ~'
alias ..="cd .."
alias ..2="cd ../.."
alias ..3="cd ../../.."
alias ..4="cd ../../../.."
alias ..5="cd ../../../../.."

alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -iv --preserve-root'   ## 防止杯具: rm / 下面这几个命令 chgrp chown chmod 也有该参数
alias ln='ln -iv'

# [ ls ]#
#--------------------------------------------

# XXX 后面的 alias 都会继承该 ls 别名，无须在重复配置 ls 相关参数
alias ls='ls -Fx --color=auto'
alias la='ls -A'
## %F == %Y-%m-%d  %T == %H:%M:%S  %R == %H:%M
alias ll=$'ls -lhX --time-style="+\e[33m|\e[0m %F %R \e[33m|\e[0m"'
alias lt=$'ls -lht --time-style="+\e[33m|\e[0m %F %T \e[33m|\e[0m"'

## -rw-r--r-- 1 user group 1.6K 2016-01-26 12:29 profile
#alias ll='ls -lh --time-style=long-iso'

## -rw-r--r-- 1 user group 1.6K 2016-01-26 12:29:16.279111000 +0800 profile
#alias ll='ls -h --full-time'


# [ git ]
#--------------------------------------------
alias gst='git status'
alias gdf='git diff'
alias gca='git commit -a -m'
alias gce='git config -e'
alias gcl='git config -l'
alias gpo="git push origin master"
alias gpu='git pull --rebase origin master'

# [ system ]
#--------------------------------------------

alias c='clear'
alias df="df -hT"
alias du="du -h"
alias exit="clear; exit"
alias free="free -t"
alias grep='grep --color=auto -d skip -iI'
alias less='less -iR'


# [ soft ]
#--------------------------------------------

alias tx='tmux -2u'

## NOTE: ee function or alias can NOT auto complete **filename** with TAB, but can with 'M-/'
# function ee { emacsclient -a "" -t "$@"; }
# alias ee='emacsclient -t -a ""'

function en {
    ## change tmux or screen windows title as 'emacs'
    case "$TERM" in screen*) printf '\033kemacs\033\\';; esac
    ## terminal : emaca -nw
    emacsclient -a "" -t "$@"
}

function ec {
    ## GUI
    emacsclient -a "" -nc "$@"
}

function es {
    ## http://mjwall.com/blog/2013/10/04/how-i-use-emacs/
    ## stop emacs daemon
    server_ok=`emacsclient -a "false" -e "(boundp 'server-process)"`
    if [ "t" = "$server_ok" ]; then
        echo "Shutting down Emacs server"
        emacsclient -e '(kill-emacs)'
    else
        echo "Emacs server not running"
    fi
}

function vi {
    ## change tmux or screen windows title as 'vi'
    case "$TERM" in screen*) printf '\033kvi\033\\';; esac
    if [ -f /usr/bin/gvim ]
    then
        gvim -v "$@"
    elif [ -f /usr/bin/vim ]
    then
        vim "$@"
    elif [ -f /usr/bin/vi ]
    then
        vi "$@"
    else
        echo "__ERROR: NO vi or vim package installed"
    fi
}

{# extra var: -e 'desk=True' #}
{% if desk %}

# [ Xorg X11 ]
#--------------------------------------------

alias startx='startx &> /dev/shm/startx.log'

[ -f /usr/bin/gvim ] && alias vim='gvim -v'

# 查看 窗口 class 属性 / 名称 # From : Archwiki Openbox
alias xp='xprop | grep "WM_WINDOW_ROLE\|WM_CLASS" && echo "WM_CLASS(STRING) = \"NAME\", \"CLASS\""'

function elimage {
    ## XXX 无效
    ##curl -F "screenshot=@$1" -F 'paste=1' http://paste.ubuntu.org.cn
    [ -f "$1" ] && curl --compressed -F "name=@$1" http://img.vim-cn.com/ || echo "$1 NOT image file"
}

{% endif -%}

{% if ansible_distribution == 'Archlinux' %}
# [ archlinux pacman ]
#--------------------------------------------

alias P="pacman"
alias Y="yaourt"

# 在 后面添加 空格，可以实现自动补全
alias spm='sudo pacman'
# --need 跳过已经是最新的安装包，不重新安装
alias pac="sudo pacman -S --need"
alias pq='pacman -Q '
alias pi='pacman -Qi '
alias pl='pacman -Ql '
alias pm='sudo pacman -Rsun '
alias pu="sudo pacman -Scc && sudo pacman -Sy && sudo pacman -Su"
alias py="sudo pacman -Sy"

alias yao="sudo yaourt -S "
alias ys="yaourt -Ss "
# 若要实现 yaourt 查询软件包，可以取消注释 /etc/yaourtrc
# AURUPGRADE=0
# AURSEARCH=0
# 使用额外的 --aur 指定查询 AUR 里面的软件包，其他类似 pacman
alias yq="yaourt -Q "
alias yu="sudo yaourt -Su"
alias yy="sudo yaourt -Sy"

# 使用 'pacsearch packagename' 查找pkg，只列出软件包的名称，版本号，没有描述信息
#alias pacsearch="pacman -Sl | cut -d' ' -f2 | grep "

# pacman 查找 输出彩色
#alias pacs="pacman -Ss "
alias pacs="pacsearch"
pacsearch()
{
    echo -e "$(pacman -Ss $@ | sed \
    -e 's#core/.*#\\033[1;31m&\\033[0;37m#g' \
    -e 's#extra/.*#\\033[0;32m&\\033[0;37m#g' \
    -e 's#community/.*#\\033[1;35m&\\033[0;37m#g' \
    -e 's#^.*/.* [0-9].*#\\033[0;36m&\\033[0;37m#g' )"
}

## XXX 单行函数格式报错，需要用 ';' 断行
po() { pacman -Qo `which "$1"`; }

# https://github.com/milomouse/dotfiles/blob/master/zsh/functions
# check ownership of given argument, as determined by pacman:
function owns {
  if [[ -n $(for each in ${PATH//:\\\n}; do find ${each}/$1 2>/dev/null ; done) ]]
  then pacman -Qo $(which -p $1)
  else pacman -Qo $1 ; fi
}

{% endif -%}

{% if ansible_distribution == 'Fedora' %}
## [ fedora ]
##--------------------------------------------

alias vx="vimx"

{% endif -%}


# vim:set et ft=sh fdm=marker sw=4 sts=4 ts=4 nopaste :
